*{
    margin: 0;
    padding: 0;
    border: border-box;
}

/* Navbar başlangıç */
.Logo_Logo__svg__NDcxY {
    vertical-align: top;
    fill: #0062e3;
    width: 170px;
    height: 30px;
}
.btn-dil{
    font-size: 12px;
    font-weight: 400;
    color: #545860;
    background-color: #e0e3e5;
    padding: 6px 16px !important;
}
.btn-dil img{
    width: 18px;
    height: 14px;
}
.btn-dil-2{
    display: none;
    background-color: white;
    color: #0062e3;
}
.btn-oturum{
    color: #161616;
    background-color: #e0e3e5;
    font-size: 14px;
    padding: 6px 16px;
}
.oturum-2{
    display: none;
    color: #0062e3;
    border: none;
    font-size: 20px;
}
.like{
    font-size: 20px ; 
    color: #0062e3 ; 
    
}
.yardim{
    color: #0062e3; 
    font-size:14px;
    line-height: 1.25rem;
    font-weight: 400;
}
/* Navbar bitiş */

.otel-kart{
    background-color: #0062e3;
}
.otel-kart:hover{
    background: #05203c !important;
}

.uygun-otel {
    background-image: url(./assets/alexander-kaunas-xEaAoizNFV8-unsplash_CROP.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
  
}
.uygun-otel h1{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 4.5rem;
    color: white;
}


.konaklama-form {
    background-color: #05203c;
    padding: 1rem;
    width: 100%;
}
.konaklama-date,
.konaklama-form select{
    height: 3rem;
    width: 100%;
}
.place{
    width: 100%;
    height: 3rem;
}
.place::placeholder{
    padding: 8px 16px;
}
.input-group input,
.input-group select {
    border: .0625rem solid #c1c7cf;
}

.cizgi{
    fill: white;
    margin-top: -50px;
}

.otelfirsatlari {
    background-image: url(./assets/HotelDeals_GraphicPromo_1442x800_Tablet_EMEA-NoCopy.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
  
}
.otelfirsatlari-ic{
    width: 30%;
}

.marka img{
    width: 120px;
    height: 60px;
    object-fit: contain;
    margin-right: 15px;

}





/* Navbar Responsive */
@media screen and (max-width: 1050px) {
    .yardim{
        display: none;
    }
  }
@media screen and (max-width: 767px) {
    .btn-dil{
        display: none;
    }
    .btn-dil-2{
        display: block;
    }
    .btn-oturum{
        display: none;
    }
    .oturum-2{
        display: block;
    }
    .btn-dil{
        padding: 0 !important;
    }
    .otel-kart{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }





