body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kutu{
    height:20rem;
}

.row{
    flex-wrap: wrap;
}
.row  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.flexle{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0%;
    
}

.flexle:nth-child(1){
    height: 40%;
}
.h-40{
    height: 40%;
}
.h-60{
    height: 60%;
}

.baslik-box{
    margin-inline-end: 1rem;
}
.baslik-box > h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 3.5rem;
    font-weight: 700;
    color: rgb(22, 22, 22);
}
.sag-parca > div {
    padding: .5rem;
}
